/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: 
*/

a {
  color: #357b70;
}

.bg-darker {
  background-color: #16342f;
}

.bg-lighter {
  background-color: #449f90;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li .navigation-list__item--active {
  text-decoration: none;
}

.navigation-list li .main-paragraph .navigation-list__item .navigation-list__item--active:hover {
  background-color: green;
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #0be5f5;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

:root {
  --primary-color: #ef9cf7;
  --secondary-color: #a1e5fa;
  --text-color: #050505;
  --body-font-size: 16px;
}