
:root {
  --primary-color:#f5e8f7;
  --secondary-color: #a1e5fa;
  --text-color: #050505;
  --body-font-size: 14px;
  --body-font-weight: 400;
  --line-height: 1.6;
  --body-margin:8px
}
 
body {
    background-color: var(--primary-color);
    font-family: 'Goldman', sans-serif;
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    /* Sets the font size to 16px */
    line-height: var(--line-height);
    /* Sets the line-height to 1.6 */
    margin: var(--body-margin);
  }

  header {
    font-size: 20px;
    font-weight: bold;
  }
  
  
  footer {
    font-size: 18px;
    font-weight: 700;
  }

  a {
    color: #5917f3;
  }


  a:visited {
    /* visited link */
    color: #290dc7;
  }

  a:hover {
    /* No underlining when hovering over a link */
    color: #ff00aa;
    text-decoration: none;
  }
  
  a:active {
    /* selected link */
    color: #e70e61;
  }

  table,td,th
 {
  border: 2px solid #adff2f;
  border-collapse: collapse;
  padding: 5px;
 }

 tbody 
 {
     text-align: center;
 }
  
 button /*for the indexpage*/
 {
   /* overwrites browser defaults and resets the border */
   border: none;
   /* takes the font from the outer container */
   font-family: inherit;
   /* styles the background color, font color, and text decoration (underline, etc.) of the button */
   background-color: #05dffc;
   color: white;
   text-decoration: none;
   /*adds spacing to the button (this will be discussed more in-depth later) */
   padding: 8px;
   border-radius: 10px;
   /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
   border-bottom: 2px solid rgba(0, 0, 0, 0.3);
   
 }
  
 
  button:hover, button:focus 
  {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }
  
  .button, button {
    /* overwrites browser defaults */
    /* resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: #0be5f5;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
  }


.profile__portrait {
    float: left;
    width: 200px;
    margin-right: 40px;
    border-radius: 50%;
  }

.profile {
  max-width: 900px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction:column;
  text-align:center
}

.profile__text {
  flex: 1 1 100px;
  
}

.page-header {
  display: flex;
  width: 100%;
  padding: 30px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-logo{
  margin-top:20px;
  width: 200px;
  height: 70px;
}


.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  padding:3px;
  padding: 5px;
}


@supports (display: grid) 
{
  .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px;
      margin: 0;
    
  }

  .grid__item {
      display: inline-block;
      width: 33%;
      background-color: #2fdff7;
      width: auto;
      padding: 7px;
      border-radius: 4px;
      color: rgb(2, 0, 0);
     
  }

  .grid__item h2 {
      margin: 0;
      color:  #b003f5;
  }

  .grid__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px
  }
}


@keyframes color-change {
  0% {
    fill: #55d6ed;
  }
  50% {
    fill: #f50561;
  }
  100% {
    fill: #0af76c;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 150px);
  }
  to {
    transform: translate(400px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
  
}


@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 10s cloud-move-reverse infinite alternate linear;
}

.site{
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-template-areas:"header header"
                      "title sidebar"
                      "main sidebar"
                      "footer footer";
  margin:20px; padding:10px; border:solid 2px #000;  
}
.site > *{padding:30px; color:#fff; font-size:20px;}
.mastheader{background:#b46ae3; grid-area:header;}
.page-title{background:#51a7fa; grid-area:title; margin:0;}
.main-content{
  background:#70bf40; grid-area:main;
  min-height:500px;
}
.sidebar{background:#f49018; grid-area:sidebar;}
.footer{background:#0265c0; grid-area:footer;}



